.main-heading {
  text-align: left;
}
.blog-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vh;
}

.para-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  margin-right: 10px;
  border: 0;
  width: 250px;
  box-shadow: 10px 2px lightgray;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-2-subtract-img-c {
  height: 250px;
  width: 250px;
  background-size: cover;
}
.blog-item-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 900;
  text-align: left;

  padding: 10px;
}
.para-icon-container {
  padding: 10px;
}
.arrows-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}
.arrow-img {
  width: 45px;
  height: 45px;
  padding: 10.158269882202148px 0px 10.158174514770508px 0px;
}
.arrow-heading {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px;
}
.spam-para {
  font-family: 'Inter';
  font-size: 10px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px;
}
